:root {
    --headingFont: 'Playfair Display', serif;
    --contentFont: 'Source Sans Pro', sans-serif;
    --backgroundColor: #EBEEF3;
    --cardColor: #D0D3D8;
    --buttonColor: #3D495B;
    --footerColor: #3D495B;
}
body {
    background-color: var(--backgroundColor);
    margin: 0 auto;
}

/*Navbar*/
.logo {
    width: 70px;
    margin-left: 20px;
    border-radius: 10px;
}

.navbar-brand {
    padding: 0;
}

.navbar {
    background-color: var(--backgroundColor);
    border-bottom: 1px solid black;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-nav {
    margin-left: auto;
    margin-right: auto;  
}

.nav-link {
    margin: 0 50px;
    font-family: var(--headingFont);
    color: black;
}

.nav-link:visited, .currentWorkLink:visited {
    color: black;
}

/*Main Home*/
h1 {
    font-family: var(--headingFont);
    font-weight: 600;
    font-size: 60px;
}

h2, h5, h6, span {
    font-family: var(--contentFont);
}

main {
    margin: 200px 0 500px 0;
}

.mainHome {
    text-align: center;
}

.featuredWorkLink {
    display: flex;
    justify-content: center;
    margin: 90px 0;
    color: black;
    font-family: var(--contentFont);
    font-size: 18px;
}

.featuredWorkLink:visited {
    color: black;
}

/*MAIN WORK*/
.mainWork h1 {
    text-align: center;
    padding-bottom: 80px;
}


/*MAIN ABOUT*/
.mainAbout h1 {
    text-align: center;
    padding-bottom: 80px;
}
.aboutImg {
    border-radius: 10px;
}




/*Section*/

.featuredWork {
    margin-bottom: 200px;
}

h3 {
    font-family: var(--headingFont);
    text-align: center;
    padding-bottom: 50px;
}

h4 {
    font-family: var(--headingFont);
    text-align: center;
    padding: 10px;
}

.project {
    border-radius: 10px;
    background: var(--cardColor);
    margin: 15px;
}

.projectImg {
    width: 100%;
    height: 230px;
    border-radius: 10px;
}

.projectDescription {
    font-family: var(--contentFont);
    margin: 20px 0;
    height: 100px;
}

button {
    background-color: var(--buttonColor);
    border: 1px solid var(--buttonColor);
    border-radius: 20px;
    padding: 10px 20px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    font-family: var(--contentFont);
    color: #FFFFFF;
}

a:visited {
    color: #FFFFFF;
}

.projectLink {
    color: #FFFFFF;
}

.projectLink:visited {
    color: #FFFFFF;
}

button:hover {
    background: #7D979F;
}

/*Footer*/

footer {
    border-top: 1px solid black;
    padding-top: 40px;
    background: var(--footerColor);
    color: #FFFFFF;
}

h6 {
    font-size: 18px;
}

input, .textbox{
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 10px 0;
    width: 50%;
}

.textbox {
    width: 100%;
    height: 100px;
}

.sendButton {
    background: #FFFFFF;
    
}

.social {
    margin: 30px 0;
}

i {
    margin: 0 5px;
}


@media (max-width:800px) {

    .aboutImg {
        display: none;
    }

    .mainAbout {
        text-align: center;
    }

    .form {
        margin-top: 40px;
    }
}